@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/news-cycle-v23-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/news-cycle-v23-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/news-cycle-v23-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/news-cycle-v23-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/news-cycle-v23-latin_latin-ext-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/news-cycle-v23-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/news-cycle-v23-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/news-cycle-v23-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/news-cycle-v23-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/news-cycle-v23-latin_latin-ext-700.svg#\1') format('svg'); /* Legacy iOS */
}
